{% extends "core/base.html" %}

{% block content %}
  <div class="row">
    <div class="col s6 offset-s3">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        <div class="input-field">
          <label for="{{ form.username.id_for_label}}">Username</label>
          {{ form.username }}
        </div>
        <div class="input-field">
          <label for="{{ form.password.id_for_label }}">Password</label>
          {{ form.password }}
        </div>
        <button class="waves-effect waves-ligth btn blue" type="submit">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
