<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style media="screen">
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body class="body" style="background-color: #f6f6f6">
    {% include "core/header.html" %}
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    {% if not user.is_authenticated %}
      {% include "core/footer.html" %}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
