<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col 14 offset-12 s12">
        <h5>Social Media</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">GitHub</a></li>
          <li><a class="grey-text text-lighten-3">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2018 Copyright Text</div>
  </div>
</footer>
