<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <a class="brand-logo center" href="{% url 'index' %}">Twitter</a>
      <ul id="nav_mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a>@{{ user }}</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
