{% extends "core/base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://lh6.googleusercontent.com/-TH4i4AJayes/UmjR21m5oII/AAAAAAAAE88/cEFggxI9l5o/s502-no/Twitter+Huevo+Perfil.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                {{ user.first_name }} {{ user.last_name }}
                <small class="grey-text">@{{ user }}</small>
                <i class="material-icons right">more_vert</i>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">@{{ user }}<i class="material-icons right">close</i></span>
              <p>Tweets: {{ user.my_tweets.count }}</p>
              <p>Following:</p>
              <p>Followers:</p>
            </div>
          </div>
      </div>
      <br><br>
      <div class="col s8">
        <form action="/tweeted" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="input-field">
            <label for="{{ form.content.id_for_label }}" style="width: 85%">{{ form.content.label }}</label>
            {{ form.content }}
            <button class="waves-effect waves-light btn blue" type="submit" style="position: absolute; margin-left: 2%;">Tweet</button>
          </div>
        </form>
        {% if tweets %}
          {% for tweet in tweets %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  {{ tweet.user.first_name }} {{ tweet.user.last_name }}
                  <small class="grey-text">@{{ tweet.user.username }}</small>
                  <button class="waves-effect waves-light btn blue" type="submit"><i class="insert material-icons">person_add</i></button>
                </span>
                <p>{{ tweet.content }}</p>
              </div>
              <div class="card-action">
                <a class="black-text" href="{% url 'liked' tweet.id %}"><i class="material-icons">favorite</i>{{ tweet.getLikesCount }}</a>
                <a class="black-text" href="{% url 'retweeted' tweet.id %}"><i class="material-icons">autorenew</i>{{ tweet.getRetweetsCount }}</a>
                <!-- <form action="/liked/{{ tweet.id }}" method="post">
                  {% csrf_token %}
                  <button class="waves-effect waves-light btn blue" type="submit">Like</button>
                  <button class="waves-effect waves-light btn blue" type="submit">Retweet</button>
                  {{ tweet.my_retweets.count }}
                </form> -->
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
