{% extends "core/base.html" %}

{% block content %}
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in su_form %}
          <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="waves-effect waves-ligth btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}
